[Unit]
Description=Lunchbox Acid Viz LED Matrix Display
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Lunchbox_Acid_Viz/src/main.py
WorkingDirectory=/home/pi/Lunchbox_Acid_Viz
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target