[Unit]
Description=Lunchbox Acid Matrix LED Visualizer
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Lunchbox_Acid_Matrix/lunchbox_acid_matrix.py
WorkingDirectory=/home/pi/Lunchbox_Acid_Matrix
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
